<h1>Student Details</h1>
<p><strong>First name:</strong><%= @student.first_name %></p>
<p><strong>Last name:</strong><%= @student.last_name %></p>
<p><strong>Email:</strong><%= @student.email %></p>
<p><strong>Address:</strong><%= @student.address %></p>
<p><strong>Contact number:</strong><%= @student.contact_number %></p>
<%= link_to 'BACK' , students_path %> |<%= link_to "Edit",edit_student_path(@student) %>
